<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Stages</key>
	<array>
		<dict>
			<key>Spawn</key>
			<dict>
				<key>X</key>
				<integer>1552</integer>
				<key>Y</key>
				<integer>208</integer>
			</dict>
			<key>Lights</key>
			<array>
				<dict>
					<key>X</key>
					<integer>1552</integer>
					<key>Y</key>
					<real>208</real>
				</dict>
				<dict>
					<key>X</key>
					<real>1423</real>
					<key>Y</key>
					<real>416</real>
				</dict>
				<dict>
					<key>X</key>
					<real>960</real>
					<key>Y</key>
					<real>368</real>
				</dict>
				<dict>
					<key>X</key>
					<real>960</real>
					<key>Y</key>
					<real>624</real>
				</dict>
				<dict>
					<key>X</key>
					<real>1184</real>
					<key>Y</key>
					<real>752</real>
				</dict>
			</array>
			<key>Monsters</key>
			<array>
				<dict>
					<key>X</key>
					<real>1712</real>
					<key>Y</key>
					<real>512</real>
				</dict>
				<dict>
					<key>X</key>
					<real>1064</real>
					<key>Y</key>
					<real>193</real>
				</dict>
				<dict>
					<key>X</key>
					<real>888</real>
					<key>Y</key>
					<real>835</real>
				</dict>
				<dict>
					<key>X</key>
					<real>345</real>
					<key>Y</key>
					<real>368</real>
				</dict>
				<dict>
					<key>X</key>
					<real>496</real>
					<key>Y</key>
					<real>771</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Lights</key>
			<array>
				<dict>
					<key>X</key>
					<real>384</real>
					<key>Y</key>
					<real>688</real>
				</dict>
				<dict>
					<key>X</key>
					<real>416</real>
					<key>Y</key>
					<real>496</real>
				</dict>
				<dict>
					<key>X</key>
					<real>580</real>
					<key>Y</key>
					<real>400</real>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
