<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Stages</key>
	<array>
		<dict>
			<key>Lights</key>
			<array>
				<dict>
					<key>X</key>
					<real>1584</real>
					<key>Y</key>
					<real>240</real>
				</dict>
				<dict>
					<key>X</key>
					<real>1392</real>
					<key>Y</key>
					<real>432</real>
				</dict>
				<dict>
					<key>X</key>
					<real>912</real>
					<key>Y</key>
					<real>336</real>
				</dict>
				<dict>
					<key>X</key>
					<real>912</real>
					<key>Y</key>
					<real>592</real>
				</dict>
				<dict>
					<key>X</key>
					<real>1136</real>
					<key>Y</key>
					<real>720</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Lights</key>
			<array>
				<dict>
					<key>X</key>
					<real>336</real>
					<key>Y</key>
					<real>656</real>
				</dict>
				<dict>
					<key>X</key>
					<real>368</real>
					<key>Y</key>
					<real>464</real>
				</dict>
				<dict>
					<key>X</key>
					<real>528</real>
					<key>Y</key>
					<real>304</real>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
